<%- include('./partials/head.ejs') %>
    <section>
        <div class="area">
            <div class="form-select">
                <form action="">
                    <input type="text" placeholder="Search">
                    <button type="submit">Check</button>
                </form>
            </div>
            <div class="weatherIcon"><i class="wi wi-day-cloud"></i></div>
            <div class="output">
                <div class="temp">
                    <p></p>
                </div>
                <div class="description">
                    <div class="desc">
                        <p class="desc-para"></p>
                        <p class="desc-city"></p>
                    </div>
                </div>
                <div class="date">
                    <p>Date</p>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/foot.ejs') %>